<div *ngIf="code; else image">
  <h2>Code [{{code.id}}] Details: {{code.name | uppercase}}</h2>
  <div><img class="click-icon" alt="download" (click)="refresh()" src="https://cdn3.iconfinder.com/data/icons/perfect-flat-icons-2/512/Fall_rise_arrow_and_me_follow_twitter_leaves.png"> Download latest</div>
  <div><label>Name: </label><span>{{code.name}}</span></div>
  <div><label>Age: </label><span>{{code.age}}</span></div>
  <div><label>Gender: </label><span>{{code.gender}}</span></div>
  <div>
    <label>Cosplay: </label>
    <span>{{code.cosplay}}</span>
    <button *ngIf="code.cosplayImg" (click)="showImage()">{{imageDisplay ? "Hide image" : "Show Image"}}</button>
  </div>
  <!--TODO:: add image-->
  <div *ngIf="imageDisplay"><img height="300" alt="Cosplay Reference" src="{{code.cosplayImg}}"></div>
  <div><label>Description (physical): </label><span>{{code.descriptionPhysical}}</span></div>
  <div><label>Description (clothing): </label><span>{{code.descriptionClothing}}</span></div>
  <div><label>Last Seen: </label><span>{{code.lastSeen}}</span></div>
  <div *ngIf="true"><label>DEBUG: </label><span>{{code.timestampLogged}}</span></div>
  <div *ngIf="code.resolved; else missing">
    <label class="{{styleCode(code)}}">Found at {{code.timestampResolved | date : 'H:mm, MMM d'}} after {{codeTimeMissing(code)}}</label>
  </div>
  <ng-template #missing>
    <label class="{{styleCode(code)}}">Missing For {{codeTimeMissing(code)}}, since {{code.timestampLogged | date : 'H:mm, MMM d'}}</label>
  </ng-template>
  <div>Update status to <button (click)="updateFound(code)">{{code.resolved ? "STILL MISSING" : "FOUND"}}</button></div>
</div>
<ng-template #image>
  <img width="300" alt="Kumoricon Logo" src="https://www.kumoricon.org/files/images/logo-2018-rasterized.png">
</ng-template>