<button *ngIf="selectedCode" (click)="close()">Close selected</button>
<app-code-detail [code]="selectedCode"></app-code-detail>
<h2>All Reports
    <img class="click-icon" alt="Refresh" (click)="refresh()" src="https://cdn3.iconfinder.com/data/icons/flat-icons-web/40/Refresh-512.png">
</h2>
<!--TODO:: Sort by resolved AND timestamp-->
<ul class="codes">
    <li *ngFor="let code of codes"
        (click)="onSelect(code)"
        class="{{styleListEntry(code)}}"
        [class.selected]="code === selectedCode">
        <span class="badge">{{code.id}}</span> {{code.name}}
    </li>
</ul>