/* CodesComponent's private CSS styles */
.found {
    background-color: #80dc90;
}

.ok {
    background-color: #60d9dc;
}

.alert {
    background-color: #d9dc5e;
}

.warn {
    background-color: #dc823b;
}

.severe {
    background-color: #ee7679;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.codes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.codes li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.codes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.codes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.codes .text {
    position: relative;
    top: -3px;
}
.codes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}