<button *ngIf="selectedCode" (click)="close()">Close selected</button>
<app-code-detail [code]="selectedCode"></app-code-detail>
<h3>Active Codes
  <img class="click-icon" alt="Refresh" (click)="refresh()" src="https://cdn3.iconfinder.com/data/icons/flat-icons-web/40/Refresh-512.png">
</h3>
<!--TODO:: styling-->
<div class="grid grid-pad" >
  <a *ngFor="let code of codes"
      (click)="onSelect(code)"
      class="{{code.getTimeMissingCss(true)}} module code col-1-4"
      [class.selected]="code === selectedCode">
    <span class="badge">{{code.id}}</span>
    <br>
    {{code.name}}
  </a>
</div>
